<div class="container mt-5 p-5" id="contact-form">
  <form>

  <h3 class="mb-3">Contact Us</h3>
    <div class="row g-3">
      <div class="col-md-6 form-floating mb-3">
        <input (input)="onInputChange($event)" type="text" class="form-control" id="floatingFirstName" name="name" placeholder="John" required>
        <label class="ms-2" for="floatingFirstName">Name</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="text" class="form-control" id="floatingLastName" placeholder="Doe" name="lastName" required>
        <label class="ms-2" for="floatingLastName">Last Name</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" required>
      <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="tel" class="form-control" id="floatingPhone" name="phone" placeholder="123-456-7890">
      <label for="floatingPhone">Phone Number</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a message here" id="floatingMessage" name="message" style="height: 150px" required></textarea>
      <label for="floatingMessage">Message</label>
    </div>

    <div class="row d-flex align-content-end justify-content-end">
      <div class="col-xl-3 col-lg-6 col-12">
        <button type="submit" [disabled]="submitDisabled" class="w-100 btn btn-primary btn-block">Send Message</button>
      </div>
    </div>
  </form>
</div>
