<div id="main-login-container">
  <div class="row justify-content-center w-100">
    <div id="register-banner" class="col-md-6 col-12 d-flex">

      <img src="formIllustration.svg" class="d-xxl-block d-none" alt="">
      <div id="formIllustrationCaption" class="text-uppercase fst-italic w-100 w-xxl-60">
        <img src="LogoSoloDark.svg" width="100" height="100" alt="">
        <h2>Welcome Back <strong>keep learning!</strong></h2>
      </div>
    </div>
    <div class="col-xl-6 col-12 p-xl-5 p-2">
      <div class="card m-5">

        <div class="card-body">
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="form-floating mb-3">
              <input [(ngModel)]="this.email" type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" required>
              <label for="floatingEmail">Email address</label>
              <div *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched" class="text-danger">
                Please enter a valid email address.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input [(ngModel)]="this.password" type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
              <label for="floatingPassword">Password</label>
              <div *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched" class="text-danger">
                Password is required.
              </div>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="rememberMe">
              <label class="form-check-label" for="rememberMe">
                Remember me
              </label>
            </div>
            <button type="submit" id="login-button" class="btn w-100 text-uppercase" [disabled]="loginForm.invalid">Login</button>
            <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
          </form>
        </div>
        <div class="text-center">
          <div class="col-12 d-flex justify-content-center">
            <a href="#">Forgot password?</a>
          </div>
          <div class="col-12 text-right d-flex justify-content-center">
            <button type="submit" class="btn m-4" (click)="goToRegister()">Create new account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

